StackPane {
    -fx-background-color: white;
}


.stage-title {
    -fx-background-color: #5771f7;
    -fx-text-fill: white;
    -fx-label-padding: 10;
    -fx-font-size: 13;
}

.title-login {
    -fx-font-size: 23;
}

.text-RecoveryPassword {
    -fx-text-fill: #21A366;

}


.button-Sign-login {
    -fx-background-color: #5771f7;
    -fx-text-fill: white;
}

.button-Exit-login {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.button-Register-login {
    -fx-background-color: transparent;
    -fx-text-fill: #5771f7;
}


/*GLOBAL*/
.mfx-text-field {
    -mfx-main: #5771f7;

    -fx-background-color: white;
    -fx-background-radius: 5;
    /*-fx-border-color: lightgray;*/
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.mfx-text-field .text-field {
    -fx-highlight-fill: lightgray; /* Selected text highlight */
    -fx-prompt-text-fill: -mfx-text-me; /* Prompt text color */
}

