AnchorPane{
    -fx-background-color: white;
}

/*Estilo para el botón dentro del Sidebar*/
JFXButton {
    -fx-background-color: transparent;
    /*-fx-pref-width: 200px;*/
    /*-fx-pref-height: 40px;*/
    /*-fx-text-fill: white;*/
    /*Alinear el icono del button*/
    /*-fx-graphic-text-gap: 15; !* Espacio entre el icono y el texto *!*/
    /*-fx-padding: 0px 0px 0px 10px; !* Espaciado interno para ajustar la alineación *!*/
    -fx-alignment: center;
}

.AnchorPane-top{
    -fx-background-color: white;
}
.AnchorPane-center{
    -fx-background-color: white;
}

.rol-title{
    -fx-font-size: 13;
    -fx-font-weight: bold; /* Establece el texto en negrita */
}

.username-title {
    -fx-font-size: 13;
    -fx-font-weight: bold; /* Establece el texto en negrita */

}