StackPane {
    -fx-background-color: white;
}

VBox {
    -fx-background-color: white;
}

HBox {
    -fx-background-color: white;
    -fx-padding: 0 0 20 100; /* arriba derecha abajo izquierda */

}

.label-title {
    -fx-font-weight: bold; /* Establece el texto en negrita */
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-padding: 10 0 10 0; /* arriba derecha abajo izquierda */
    /*-fx-text-fill: black;*/

}


.label-content {
    -fx-padding: 10 40 0 40; /* arriba derecha abajo izquierda */
}


.button-confirm {
    -fx-background-color: #5771f7;
    -fx-text-fill: white;
}

.button-exit {
    -fx-background-color: #F1F5F5;
    -fx-text-fill: black;
}


