StackPane{
    -fx-background-color: white;
}


.stage-title {
    -fx-background-color: #5771f7;
    -fx-text-fill: white;
    -fx-label-padding: 10;
    -fx-font-size: 13;
}

.title{
    -fx-font-size: 23;
}


.button-Register {
    -fx-background-color: #5771f7;
    -fx-text-fill: white;
}

.button-Exit{
    -fx-background-color: black;
    -fx-text-fill: white;
}


/*GLOBAL*/
.mfx-text-field {
    -mfx-main: #5771f7;

    -fx-background-color: white;
    -fx-background-radius: 5;
    /*-fx-border-color: lightgray;*/
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.mfx-text-field .text-field {
    -fx-highlight-fill: lightgray; /* Selected text highlight */
    -fx-prompt-text-fill: -mfx-text-me; /* Prompt text color */
}


.jfx-snackbar-content {
    -fx-background-color: #323232;
}
/*.jfx-snackbar-toast {*/
/*    -fx-text-fill: WHITE;*/
/*}*/
.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}
